<main>
  <section class="lista-produtos">
      <div class="container__produto">
          <h1 class="titulo__produto">Produtos</h1>
          <div class="filtro__produto">
            <span>30 Produtos</span>
            <select>
              <option>Mais Populares</option>
              <option>Menor Preço</option>
              <option>Maior Preço</option>
            </select>
          </div>
          <div class="filtro__busca__produtos">
            <input type="text" placeholder="Buscar produtos..."/>
            <button>Buscar</button>
          </div>
          <div class="filtro__opcoes__produtos">
            <input type="checkbox" id="frete-gratis"/>
            <label for="frete-gratis">Frete grátis</label>
          </div>
          <div class="filtro__produto__tamanho">
            <aside>
              <button>Limpar todos os filtros</button>
              <h2>TIPO</h2>
              <div>
                <label><input type="checkbox"/> Barracas </label>
                <label><input type="checkbox"/> Mochilas </label>
                <label><input type="checkbox"/> Sacos de dormir </label>
                <label><input type="checkbox"/> Colchões infláveis </label>
                <label><input type="checkbox"/> Fogareiros e lampiões </label>
                <label><input type="checkbox"/> Cadeiras e mesas </label>
              </div>
            </aside>
            <div class="produto__conteudo">
              <div class="produto__conteudo__item">
                <img src="https://nautika.vteximg.com.br/arquivos/ids/2670422-400-400/barraca-flash-6_000_150450_7896558445201_02.jpg?v=638095148501400000" alt="Barraca 1"/>
                <h3>Barraca de camping</h3>
                <p>Flash 6 NTK de montagem rápida e 3000mm de coluna d'água</p>
                <div class="produto__conteudo__preco">
                  <span class="preco__original">R$ 4.158,20</span>
                  <span class="preco__desconto">R$ 4.033,45</span>
                </div>
                <span class="produto__avaliacoes">⭐ 4.6</span>
                <div class="botao__compra">
                  <button>Adicionar ao carrinho</button>
                </div>
              </div>
              <div class="produto__conteudo__item">
                <img src="https://nautika.vteximg.com.br/arquivos/ids/2676355-1000-1000/barraca-explorer-4.6_000_151900_7896558434953_02.jpg?v=638095488082100000" alt="Barraca 2"/>
                <h3>Barraca de camping</h3>
                <p>Explorer 4/6 NTK com 2500mm de coluna d'água</p>
                <div class="produto__conteudo__preco">
                  <span class="preco__original">R$ 3.112,40</span>
                  <span class="preco__desconto">R$ 3.019,03</span>
                </div>
                <span class="produto__avaliacoes">⭐ 4.7</span>
                <div class="botao__compra">
                  <button>Adicionar ao carrinho</button>
                </div>
              </div>
              <div class="produto__conteudo__item">
                <img src="https://imgcentauro-a.akamaihd.net/1366x1366/M0NR7Q00A3.jpg" alt="Barraca 3"/>
                <h3>Barraca de camping</h3>
                <p>Colorado NTK 5/6 pessoas e coluna d'água de 2500mm</p>
                <div class="produto__conteudo__preco">
                  <span class="preco__original">R$ 2.403,00</span>
                  <span class="preco__desconto">R$ 2.330,91</span>
                </div>
                <span class="produto__avaliacoes">⭐ 4.8</span>
                <div class="botao__compra">
                  <button>Adicionar ao carrinho</button>
                </div>
              </div>
              <div class="produto__conteudo__item">
                  <img src="https://nautika.vteximg.com.br/arquivos/ids/2667092-1000-1000/barraca-indy-gt-3.4_000_152450_7896558414467_02.jpg?v=638094958545900000" alt="Barraca 4"/>
                  <h3>Barraca de Camping</h3>
                  <p>NTK Indy GT 3/4 pessoas Coluna d'água de 2500mm</p>
                  <div class="produto__conteudo__preco">
                    <span class="preco__original">R$ 1.859,70</span>
                    <span class="preco__desconto">R$ 1.803,91</span>
                  </div>
                  <span class="produto__avaliacoes">⭐ 4.8</span>
                  <div class="botao__compra">
                    <button>Adicionar ao carrinho</button>
                  </div>
                </div>
                <div class="produto__conteudo__item">
                  <img src="https://nautika.vteximg.com.br/arquivos/ids/2676523-1000-1000/barraca-patagonia-4_000_155604_7896558446673_02.jpg?v=638109466877600000.co/300x300" alt="Barraca 5"/>
                  <h3>Barraca Patagônia</h3>
                  <p>NTK 4 pessoas com avancê 3000mm</p>
                  <div class="produto__conteudo__preco">
                    <span class="preco__original">R$ 1.560,90</span>
                    <span class="preco__desconto">R$ 1.514,07</span>
                  </div>
                  <span class="produto__avaliacoes">⭐ 4.8</span>
                  <div class="botao__compra">
                    <button>Adicionar ao carrinho</button>
                  </div>
                </div>
                <div class="produto__conteudo__item">
                  <img src="https://nautika.vteximg.com.br/arquivos/ids/2680434-1000-1000/duffle-bag-70_LJ_206070_7896558462642_01.jpg?v=638532944986770000" alt="Mochila 1"/>
                  <h3>Mochila Duffle</h3>
                  <p>Bag NTK para Viagens 70 Litros</p>
                  <div class="produto__conteudo__preco">
                    <span class="preco__original">R$ 511,00</span>
                    <span class="preco__desconto">R$ 495,67</span>
                  </div>
                  <span class="produto__avaliacoes">⭐ 4.8</span>
                  <div class="botao__compra">
                    <button>Adicionar ao carrinho</button>
                  </div>
                </div>
                <div class="produto__conteudo__item">
                  <img src="https://nautika.vteximg.com.br/arquivos/ids/2680399-1000-1000/duffle-bk-50_CZPR_206000_7896558462550_01.jpg?v=638531985557830000" alt="Mochila 2"/>
                  <h3>Mochila Duffle</h3>
                  <p>BK NTK para Viagens 20L</p>
                  <div class="produto__conteudo__preco">
                    <span class="preco__original">R$ 235,00</span>
                    <span class="preco__desconto">R$ 227,95</span>
                  </div>
                  <span class="produto__avaliacoes">⭐ 4.8</span>
                  <div class="botao__compra">
                    <button>Adicionar ao carrinho</button>
                  </div>
                </div>
                <div class="produto__conteudo__item">
                  <img src="https://nautika.vteximg.com.br/arquivos/ids/2669188-1000-1000/mochila-intruder-60_AZPR_201110_7896558424183_01.jpg?v=638095086342330000" alt="Mochila 3"/>
                  <h3>Mochila Cargueira</h3>
                  <p>Nautika Intruder 60 litros</p>
                  <div class="produto__conteudo__preco">
                    <span class="preco__original">R$ 589,50</span>
                    <span class="preco__desconto">R$ 571,82</span>
                  </div>
                  <span class="produto__avaliacoes">⭐ 4.8</span>
                  <div class="botao__compra">
                    <button>Adicionar ao carrinho</button>
                  </div>
                </div>
                <div class="produto__conteudo__item">
                  <img src="https://nautika.vteximg.com.br/arquivos/ids/2669178-1000-1000/mochila-intruder-45_PR_201100_7896558427450_01.jpg?v=638095085661130000" alt="Mochila 4"/>
                  <h3>Mochila Semi-Cargueira</h3>
                  <p>Nautika Intruder 45 litros</p>
                  <div class="produto__conteudo__preco">
                    <span class="preco__original">R$ 437,50</span>
                    <span class="preco__desconto">R$ 424,38</span>
                  </div>
                  <span class="produto__avaliacoes">⭐ 4.8</span>
                  <div class="botao__compra">
                    <button>Adicionar ao carrinho</button>
                  </div>
                </div>
                <div class="produto__conteudo__item">
                  <img src="https://nautika.vteximg.com.br/arquivos/ids/2669226-1000-1000/mochila-street_PR_203080_7896558413576_01.jpg?v=638095088380800000" alt="Mochila 5"/>
                  <h3>Mochila daypack</h3>
                  <p>Street NTK</p>
                  <div class="produto__conteudo__preco">
                    <span class="preco__original">R$ 214,30</span>
                    <span class="preco__desconto">R$ 207,87</span>
                  </div>
                  <span class="produto__avaliacoes">⭐ 4.8</span>
                  <div class="botao__compra">
                    <button>Adicionar ao carrinho</button>
                  </div>
                </div>
                <div class="produto__conteudo__item">
                  <img src="https://nautika.vteximg.com.br/arquivos/ids/2677866-1000-1000/saco-dormir-kokan_VD_230350_7896558457921_01.jpg?v=638264238052030000" alt="Saco de Dormir 1"/>
                  <h3>Saco de dormir Kokan</h3>
                  <p>NTK solteiro para temperatura entre 6°C e 20°C</p>
                  <div class="produto__conteudo__preco">
                    <span class="preco__original">R$ 257,10</span>
                    <span class="preco__desconto">R$ 249,39</span>
                  </div>
                  <span class="produto__avaliacoes">⭐ 4.8</span>
                  <div class="botao__compra">
                    <button>Adicionar ao carrinho</button>
                  </div>
                </div>
                <div class="produto__conteudo__item">
                  <img src="https://nautika.vteximg.com.br/arquivos/ids/2678243-1000-1000/saco-de-dormir-bugy_PR_230120_7896558459086_01.jpg?v=638306402514100000" alt="Saco de Dormir 2"/>
                  <h3>Saco de dormir Bugy</h3>
                  <p>NTK solteiro para temperatura entre 8°C e 15°C</p>
                  <div class="produto__conteudo__preco">
                    <span class="preco__original">R$ 128,60</span>
                    <span class="preco__desconto">R$ 124,74</span>
                  </div>
                  <span class="produto__avaliacoes">⭐ 4.8</span>
                  <div class="botao__compra">
                    <button>Adicionar ao carrinho</button>
                  </div>
                </div>
                <div class="produto__conteudo__item">
                  <img src="https://nautika.vteximg.com.br/arquivos/ids/2669286-400-400/saco-antartik-7-3_PRAZ_230500_7896558423810_01.jpg?v=638095091050370000" alt="Saco de Dormir 3"/>
                  <h3>Saco de dormir sarcófago Antartik</h3>
                  <p>NTK -7°C à 3°C</p>
                  <div class="produto__conteudo__preco">
                    <span class="preco__original">R$ 428,90</span>
                    <span class="preco__desconto">R$ 416,03</span>
                  </div>
                  <span class="produto__avaliacoes">⭐ 4.8</span>
                  <div class="botao__compra">
                    <button>Adicionar ao carrinho</button>
                  </div>
                </div>
                <div class="produto__conteudo__item">
                  <img src="https://nautika.vteximg.com.br/arquivos/ids/2676660-1000-1000/saco-de-dormir-everest_PRPT_230000_7896558438197_01.jpg?v=638138134061470000" alt="Saco de Dormir 4"/>
                  <h3>Saco de dormir Everest do tipo sarcófago</h3>
                  <p>NTK -10°C a 5°C</p>
                  <div class="produto__conteudo__preco">
                    <span class="preco__original">R$ 522,00</span>
                    <span class="preco__desconto">R$ 506,34</span>
                  </div>
                  <span class="produto__avaliacoes">⭐ 4.8</span>
                  <div class="botao__compra">
                    <button>Adicionar ao carrinho</button>
                  </div>
                </div>
                <div class="produto__conteudo__item">
                  <img src="https://nautika.vteximg.com.br/arquivos/ids/2675662-400-400/saco-viper-5-12_AZPR_230100_7896558423759_01.jpg?v=638095439731400000" alt="Saco de Dormir 5"/>
                  <h3>Saco de Dormir Viper</h3>
                  <p>Solteiro para Temperaturas entre 5°C à 12°C NTK</p>
                  <div class="produto__conteudo__preco">
                    <span class="preco__original">R$ 170,00</span>
                    <span class="preco__desconto">R$ 164,90</span>
                  </div>
                  <span class="produto__avaliacoes">⭐ 4.8</span>
                  <div class="botao__compra">
                    <button>Adicionar ao carrinho</button>
                  </div>
                </div>
                <div class="produto__conteudo__item">
                  <img src="https://nautika.vteximg.com.br/arquivos/ids/2681839-1000-1000/Sem-Titulo-1_0001__MG_3093-Photoroom--4-.jpg?v=638622576217100000" alt="Colchao 1"/>
                  <h3>Colchão inflável casal</h3>
                  <p>Zenite com inflador incorporado que suporta 300kg NTK</p>
                  <div class="produto__conteudo__preco">
                    <span class="preco__original">R$ 493,10</span>
                    <span class="preco__desconto">R$ 478,31</span>
                  </div>
                  <span class="produto__avaliacoes">⭐ 4.8</span>
                  <div class="botao__compra">
                    <button>Adicionar ao carrinho</button>
                  </div>
                </div>
                <div class="produto__conteudo__item">
                  <img src="https://nautika.vteximg.com.br/arquivos/ids/2678398-1000-1000/colchao-solteiro-mirage_000_250810_7896558411350_01.jpg?v=638313510533300000" alt="Colchao 2"/>
                  <h3>Colchão Inflável Solteiro Mirage</h3>
                  <p>Nautika Até 100kg</p>
                  <div class="produto__conteudo__preco">
                    <span class="preco__original">R$ 191,70</span>
                    <span class="preco__desconto">R$ 185,95</span>
                  </div>
                  <span class="produto__avaliacoes">⭐ 4.8</span>
                  <div class="botao__compra">
                    <button>Adicionar ao carrinho</button>
                  </div>
                </div>
                <div class="produto__conteudo__item">
                  <img src="https://nautika.vteximg.com.br/arquivos/ids/2678402-1000-1000/colchao-casal-mirage_000_250820_7896558411367_01.jpg?v=638313511114930000" alt="Colchao 3"/>
                  <h3>Colchão inflável casal Mirage</h3>
                  <p>NTK que suporta até 200kg</p>
                  <div class="produto__conteudo__preco">
                    <span class="preco__original">R$ 299,50</span>
                    <span class="preco__desconto">R$ 290,52</span>
                  </div>
                  <span class="produto__avaliacoes">⭐ 4.8</span>
                  <div class="botao__compra">
                    <button>Adicionar ao carrinho</button>
                  </div>
                </div>
                <div class="produto__conteudo__item">
                  <img src="https://nautika.vteximg.com.br/arquivos/ids/2669301-1000-1000/colchao-brunei_000_250710_7896558435912_01.jpg?v=638095091609870000" alt="Colchao 4"/>
                  <h3>Colchão inflável king Brunei</h3>
                  <p>Com altura extra dimensionada que suporta 250kg NTK</p>
                  <div class="produto__conteudo__preco">
                    <span class="preco__original">R$ 986,20</span>
                    <span class="preco__desconto">R$ 956,61</span>
                  </div>
                  <span class="produto__avaliacoes">⭐ 4.8</span>
                  <div class="botao__compra">
                    <button>Adicionar ao carrinho</button>
                  </div>
                </div>
                <div class="produto__conteudo__item">
                  <img src="https://nautika.vteximg.com.br/arquivos/ids/2667661-1000-1000/colchao-zenite-solteiro_000_250500_7896558450304_01.jpg?v=638094988148700000" alt="Colchao 5"/>
                  <h3>Colchão inflável solteiro Zenite</h3>
                  <p>Com inflador incorporado que suporta 100kg NTK</p>
                  <div class="produto__conteudo__preco">
                    <span class="preco__original">R$ 255,90</span>
                    <span class="preco__desconto">R$ 248,22</span>
                  </div>
                  <span class="produto__avaliacoes">⭐ 4.8</span>
                  <div class="botao__compra">
                    <button>Adicionar ao carrinho</button>
                  </div>
                </div>
                <div class="produto__conteudo__item">
                  <img src="https://nautika.vteximg.com.br/arquivos/ids/2672205-400-400/fogareiro-frontier_BC_280450_7896558453237_01.jpg?v=638095261060670000" alt="Fogareiro 1"/>
                  <h3>Fogareiro de Mesa</h3>
                  <p>Frontier com Maleta NTK</p>
                  <div class="produto__conteudo__preco">
                    <span class="preco__original">R$ 187,10</span>
                    <span class="preco__desconto">R$ 181,49</span>
                  </div>
                  <span class="produto__avaliacoes">⭐ 4.8</span>
                  <div class="botao__compra">
                    <button>Adicionar ao carrinho</button>
                  </div>
                </div>
                <div class="produto__conteudo__item">
                  <img src="https://nautika.vteximg.com.br/arquivos/ids/2680356-1000-1000/lampiao-radiant_000_310652_7896558460921_01.jpg?v=638530401801130000" alt="Lampiao 1"/>
                  <h3>Lampião Lanterna USB</h3>
                  <p>Radiant NTK 250 Lúmens Recarregável</p>
                  <div class="produto__conteudo__preco">
                    <span class="preco__original">R$ 170,00</span>
                    <span class="preco__desconto">R$ 164,90</span>
                  </div>
                  <span class="produto__avaliacoes">⭐ 4.8</span>
                  <div class="botao__compra">
                    <button>Adicionar ao carrinho</button>
                  </div>
                </div>
                <div class="produto__conteudo__item">
                  <img src="https://nautika.vteximg.com.br/arquivos/ids/2680279-1000-1000/Sem-Titulo-1_0007_fogareiro-stain_000_280474_7896558462451_01.jpg?v=638512905057030000" alt="Fogareiro 2"/>
                  <h3>Fogareiro Stain</h3>
                  <p>NTK em Aço Inox com Ignição Automática e Flex Fuel</p>
                  <div class="produto__conteudo__preco">
                    <span class="preco__original">R$ 227,80</span>
                    <span class="preco__desconto">R$ 220,97</span>
                  </div>
                  <span class="produto__avaliacoes">⭐ 4.8</span>
                  <div class="botao__compra">
                    <button>Adicionar ao carrinho</button>
                  </div>
                </div>
                <div class="produto__conteudo__item">
                  <img src="https://nautika.vteximg.com.br/arquivos/ids/2679981-1000-1000/fogareiro-atomo_000_280476_7896558462604_01.jpg?v=638484448421700000" alt="Fogareiro 3"/>
                  <h3>Fogareiro Átomo</h3>
                  <p>NTK em Aço Inox com Sistema de Regulagem</p>
                  <div class="produto__conteudo__preco">
                    <span class="preco__original">R$ 101,40</span>
                    <span class="preco__desconto">R$ 98,36</span>
                  </div>
                  <span class="produto__avaliacoes">⭐ 4.8</span>
                  <div class="botao__compra">
                    <button>Adicionar ao carrinho</button>
                  </div>
                </div>
                <div class="produto__conteudo__item">
                  <img src="https://nautika.vteximg.com.br/arquivos/ids/2667709-1000-1000/lampiao-cairo_000_280350_7896558417789_02.jpg?v=638094990701970000" alt="Lampiao 2"/>
                  <h3>Lampião Cairo</h3>
                  <p>NTK com sistema de cartucho</p>
                  <div class="produto__conteudo__preco">
                    <span class="preco__original">R$ 227,80</span>
                    <span class="preco__desconto">R$ 220,97</span>
                  </div>
                  <span class="produto__avaliacoes">⭐ 4.8</span>
                  <div class="botao__compra">
                    <button>Adicionar ao carrinho</button>
                  </div>
                </div>
                <div class="produto__conteudo__item">
                  <img src="https://nautika.vteximg.com.br/arquivos/ids/2679130-1000-1000/cadeira-andrade-p_BG_291014_7896558459642_01.jpg?v=638380135623930000" alt="Cadeira 1"/>
                  <h3>Cadeira dobrável Andrade</h3>
                  <p>De 1 estágio tamanho P NTK</p>
                  <div class="produto__conteudo__preco">
                    <span class="preco__original">R$ 170,50</span>
                    <span class="preco__desconto">R$ 165,39</span>
                  </div>
                  <span class="produto__avaliacoes">⭐ 4.8</span>
                  <div class="botao__compra">
                    <button>Adicionar ao carrinho</button>
                  </div>
                </div>
                <div class="produto__conteudo__item">
                  <img src="https://nautika.vteximg.com.br/arquivos/ids/2680943-1000-1000/banqueta-step-1_VD_336000_7896558462611_01.jpg?v=638555383279100000" alt="Cadeira 2"/>
                  <h3>Banqueta Dobrável</h3>
                  <p>Para Camping Step 1 Verde NTK</p>
                  <div class="produto__conteudo__preco">
                    <span class="preco__original">R$ 65,00</span>
                    <span class="preco__desconto">R$ 63,05</span>
                  </div>
                  <span class="produto__avaliacoes">⭐ 4.8</span>
                  <div class="botao__compra">
                    <button>Adicionar ao carrinho</button>
                  </div>
                </div>
                <div class="produto__conteudo__item">
                  <img src="https://nautika.vteximg.com.br/arquivos/ids/2670114-1000-1000/cadeira-boni_AZ_290430_7896558421939_01.jpg?v=638095135690730000" alt="Cadeira 3"/>
                  <h3>Cadeira Dobrável Nautika Boni</h3>
                  <p>Com Assento e Encosto Estofado</p>
                  <div class="produto__conteudo__preco">
                    <span class="preco__original">R$ 315,00</span>
                    <span class="preco__desconto">R$ 305,55</span>
                  </div>
                  <span class="produto__avaliacoes">⭐ 4.8</span>
                  <div class="botao__compra">
                    <button>Adicionar ao carrinho</button>
                  </div>
                </div>
                <div class="produto__conteudo__item">
                  <img src="https://nautika.vteximg.com.br/arquivos/ids/2679400-400-400/mesa-robust-80_PR_291101_7896558462307_01.jpg?v=638421307053830000" alt="Mesa 1"/>
                  <h3>Mesa dobrável Robust</h3>
                  <p>Com ajuste de altura 80cm NTK</p>
                  <div class="produto__conteudo__preco">
                    <span class="preco__original">R$ 239,90</span>
                    <span class="preco__desconto">R$ 232,70</span>
                  </div>
                  <span class="produto__avaliacoes">⭐ 4.8</span>
                  <div class="botao__compra">
                    <button>Adicionar ao carrinho</button>
                  </div>
                </div>
                <div class="produto__conteudo__item">
                  <img src="https://nautika.vteximg.com.br/arquivos/ids/2679344-1000-1000/mesa-lua_PR_291145_7896558460419_01.jpg?v=638412914562700000" alt="Mesa 2"/>
                  <h3>Mesa dobrável Lua</h3>
                  <p>Com 4 porta copos da NTK</p>
                  <div class="produto__conteudo__preco">
                    <span class="preco__original">R$ 200,80</span>
                    <span class="preco__desconto">R$ 194,78</span>
                  </div>
                  <span class="produto__avaliacoes">⭐ 4.8</span>
                  <div class="botao__compra">
                    <button>Adicionar ao carrinho</button>
                  </div>
                </div>
            </div>
          </div>
        </div>
  </section>
</main>
