@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

main {
  background-color: whitesmoke;
  font-family: 'Outfit', sans-serif;
  width: 100%;
}

select, option, button, input {
  font-family: 'Outfit', sans-serif;
}

.botao__compra {
  display: flex;
  justify-content: end;
  align-items: center;
}

.botao__compra button {
  font-size: 1.3rem;
}

.botao__compra button:hover {
  background-color: #a73b1a;
  color: #fff;
}

.produto {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 5px;
  margin-top: 30px;
  border: 1px solid #ddd;
  border-color: #ddd;
  border-radius: 3%;
  padding: 20px;
  width: 300px;
}

.produto__conteudo__item {
  padding: 10rem;
  background-color: rgb(219, 218, 218);
}

.titulo__produtos {
  font-size: 35px;
  padding-top: 2.5%;
  margin-left: 8.5%;
}

.subtitulo__produtos {
  font-size: 20px;
  margin-top: 0.5%;
  margin-left: 8.5%;
  color: #4d4d4d;
}

.lista-produtos {
  color: gray;
}

.produto img {
  max-width: 100%;
}

.lista-produtos {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.container__produto {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
}

.titulo__produto {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.filtro__produto {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.filtro__produto span {
  opacity: 1;
  color: rgb(82 82 91 / 90%);
}

.filtro__produto select {
  border-width: 1px;
  border-radius: 0.25rem;
  padding: 0.5rem;
}

.filtro__busca__produtos {
  display: flex;
  margin-bottom: 1rem;
  width: 100%;
}

.filtro__busca__produtos input {
  border-width: 1px;
  border-radius: 0.25rem;
  padding: 0.5rem;
  flex-grow: 1;
  margin-right: 0.5rem;
  border: 2px solid #a73b1a;
  margin-top: 1rem;
  height: 2.5rem;
}

.filtro__busca__produtos button {
  width: 5%;
  background-color: #a73b1a;
  border: none;
  color: rgb(255 255 255 / 90%);
  border-radius: 0.25rem;
  padding: 0.5rem;
  cursor: pointer;
  border: 1px solid #a73b1a;  
}

.filtro__busca__produtos button:hover, .produto__conteudo__botoes button:hover {
  background-color: #fff;
  color: #a73b1a;
}

.filtro__opcoes__produtos {
  display: flex;
  margin-bottom: 1rem;
  align-items: center;
}

.filtro__opcoes__produtos input {
  margin-right: 0.5rem;
}

.filtro__opcoes__produtos label {
  opacity: 1;
  color: rgb(82 82 91 / 90%);
}

.produto__conteudo {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 1rem;
  width: 100%;
  height: auto;
}

.produto__conteudo li {
  list-style: none;
}

.produto__conteudo article {
  border-width: 1px;
  border-radius: 0.5rem;
  padding: .8rem;
}

.produto__conteudo__item {
  display: flex;
  flex-direction: column;
}

.produto__conteudo__botoes {
  display: flex;
  align-items: center;
  margin-top: 0.5rem;
  width: 100%;
  justify-content: end;
}

.produto__conteudo__botoes button {
  width: auto;
  padding: 0.5rem;
  font-size: 1rem;
  background-color: #a73b1a;
  border: 1px solid #a73b1a;
  color: rgb(255 255 255 / 90%);
  border-radius: 0.25rem;
  cursor: pointer;
}

.produto__conteudo__item img {
  width: 100%;
  height: 30rem;
  object-fit: cover;
  border-radius: 0.25rem;
}

.produto__conteudo__item h3 {
  font-weight: 600;
  margin-top: 0.5rem;
}

.produto__conteudo__item p {
  opacity: 1;
  color: rgb(113 113 122 / 90%);
}

.produto__conteudo__preco {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5rem;
}

.preco__original {
  text-decoration-line: line-through;
  opacity: 1;
  color: rgb(239 68 68 / 90%);
  font-size: 1.2rem;
}

.preco__desconto {
  font-size: 1.4rem;
  font-weight: 700;
  color: green;
}

.produto__avaliacoes {
  opacity: 1;
  color: rgba(193, 139, 40, 0.9);
  font-size: 1.2rem;
}

@media (min-width: 640px) {
  .container__produto {
      max-width: 640px;
  }
  .produto__conteudo img {
    width: 100%;
    height: 10.8rem;
  }
}
@media (min-width: 768px) {
  .container__produto {
      max-width: 768px;
  }
  .produto__conteudo img {
    width: 100%;
    height: 13.2rem;
  }
}
@media (min-width: 1024px) {
  .container__produto {
      max-width: 1024px;
  }
  .produto__conteudo img {
    width: 100%;
    height: 15.4rem;
  }
}
@media (min-width: 1280px) {
  .container__produto {
      max-width: 1280px;
  }
  .produto__conteudo img {
    width: 100%;
    height: 18.7rem;
  }
}
@media (min-width: 1536px) {
  .container__produto {
      max-width: 1536px;
  }
}
@media (min-width: 768px) {
  .filtro__produto__tamanho {
  flex-direction: row;
}
}
@media (min-width: 768px){
  .filtro__produto__tamanho aside {
      margin-bottom: 0px;
      width: 25%;
  }
}
@media (min-width: 768px) {
  .produto__conteudo {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

.popup {
  font-family: 'Outfit', sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.popup-content {
  background-color: #fff;
  border-radius: 8px;
  padding: 2rem;
  width: 100%;
  max-width: 90rem;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.popup-content h3 {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 1.5rem;
}

.produto__conteudo__botoes__popup {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0.5rem;
  justify-content: center;
}

.produto__conteudo__botoes__popup button {
  padding: 0.5rem;
  font-size: 1rem;
  background-color: #a73b1a;
  border: 1px solid #a73b1a;
  color: rgb(255 255 255 / 90%);
  border-radius: 0.25rem;
  cursor: pointer;
}

.produto__conteudo__botoes__popup button:hover {
  background-color: #fff;
  color: #a73b1a;
  border: 0.5px solid #a73b1a;
}

section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: 'Outfit', sans-serif;
  width: 100%;
}

.alinhamento {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 5px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 5px;
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 0.5rem;
  padding: 1rem;
}

.container_imagem {
  flex: none;
  width: 80%;
}

.container_imagem img {
  width: 100%;
  height: auto;
  border-radius: 0.5rem;
}

.container_descricao {
  flex-grow: 1;
  margin-top: 1rem;
}

.container_descricao h2 {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 600;
  color: rgb(39 39 42 / 90%);
}

.descricao_preco {
  display: flex;
  justify-content: space-around;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  color: rgb(24 24 27 / 90%);
}

.container_descricao p {
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: rgb(82 82 91 / 90%);
}

.container__cores {
  margin-top: 1rem;
}

.container__cores label {
  display: block;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: #a73b1a;
}

.container__cores select {
  margin-top: 0.25rem;
  display: block;
  width: 100%;
  border-width: 1px;
  border-radius: 0.25rem;
  padding: 0.5rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  border: 1px solid #a73b1a;
}

.container__tamanho {
  margin-top: 1rem;
}

.container__tamanho label {
  display: block;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: #a73b1a;
}

.container__tamanho select {
  margin-top: 0.25rem;
  display: block;
  width: 100%;
  border-width: 1px;
  border-radius: 0.25rem;
  padding: 0.5rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  border: 1px solid #a73b1a;
}

button {
  width: 100%;
  margin-top: 1rem;
  border-radius: 0.375rem;
  padding: 0.5rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 600;
  color: rgb(255 255 255 / 90%);
  background-color: #a73b1a;
  border: none;
  cursor: pointer;
}

.container__descricao__detalhes {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

.container__descricao__detalhes h3 {
  font-size: 1.35rem;
  line-height: 1.25rem;
  font-weight: 600;
  color: #a73b1a;
}

.container__descricao__detalhes p {
  font-size: 1rem;
  line-height: 1.25rem;
  color: rgb(82 82 91 / 90%);
}


@media (min-width: 768px) {
  .md\:flex-row {
    flex-direction: row;
  }
}

@media (min-width: 768px) {
  .md\:w-1\/3 {
    width: 33.333333%;
  }
}

@media (min-width: 768px) {
  .md\:ml-4 {
    margin-left: 1rem;
  }
}

@media (min-width: 768px) {
  .md\:mt-0 {
    margin-top: 0px;
  }
}

