<div class="container">
  <div class="container-footer">
    <div class="logo">
      <a href="#" class="footer-titulo">Camplex</a>
      <p>Viva a Aventura</p>
    </div>
    <div>
      <ul class="links">
        <li><a href="#">Home</a></li>
        <li><a href="#">Sobre</a></li>
        <li><a href="#">Contato</a></li>
      </ul>
    </div>
    <div>
      <ul class="social">
        <li><a href="#"><img src="../../../assets/instagram.png" alt=""></a></li>
        <li><a href="#"><img src="../../../assets/twitter.png" alt=""></a></li>
        <li><a href="#"><img src="../../../assets/facebook.png" alt=""></a></li>
      </ul>
      <p class=""><a href="#" class="btn">Entre em contato</a></p>
    </div>
  </div>
  <div class="copy">
    <p><small>&copy; 1985-2024 Todos os Direitos Reservados.</small></p>
  </div>
</div>
