@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Rowdies:wght@300;400;700&display=swap');

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 20px;
  width: 100%;
  height: 8vh;
  position: fixed;
  top: 0;
  left: 0;
  transition: .5s;
  z-index: 2;
}

header.rolagem {
  background-color: #bef8f3f3;
  padding: 0 20px;
}

header.rolagem a, .logo a {
  color: #a73b1a;
}

.logo a {
  font-family: 'Rowdies', cursive;
  font-size: 2.7rem;
  font-weight: 600;
  color: #fff;
}

a {
  text-decoration: none;
  color: #fff;
  font-family: 'Outfit', sans-serif;
  font-size: 1.3rem;
  font-weight: 500;
  padding: 10px 15px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  gap: 10vh;
  flex-grow: 1;
}

nav a:hover {
  padding: 10px 15px;
  border-radius: 10px;
  background-color: #a39a9a3d;
  transition: 0.3s ease-in-out;
}

.menu-btn {
  display: none;
}

button {
  background-color: #a73b1a;
  color: #fff;
  padding: 10px 15px;
  border-radius: 3px;
  font-family: 'Outfit', sans-serif;
  font-size: 1.3rem;
  font-weight: 500;
  border: none;
  cursor: pointer;
  transition: .2s;
}

button:hover {
  background-color: #fff;
  color: #a73b1a;
}

@media (max-width: 768px) {

.logo a{
  font-size: 4rem;
  margin-top: 2rem;
  margin-left: 1.4rem;
}

button, nav {
  display: none;
}

.mobile-menu-button {
  display: block;
  background-color: #a73b1a;
  color: #fff;
  padding: 10px 15px;
  border-radius: 3px;
  font-family: 'Outfit', sans-serif;
  font-size: 1.3rem;
  font-weight: 500;
  border: none;
  cursor: pointer;
  transition: .2s;
}

.mobile-menu-button:hover {
  background-color: #fff;
  color: #a73b1a;
}


.mobile-nav {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.mobile-nav.active {
  display: block;
}

.mobile-nav ul {
  flex-direction: column;
  align-items: center;
}
}
/* Estilo do pop-up oculto */
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* Estilo do conteúdo do pop-up */
.popup-content {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.popup-content h2 {
  margin-top: 0;
}

.popup-content button {
  margin-top: 15px;
  padding: 8px 16px;
  background: #e74c3c;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.limite {
  width: 100%;
  margin: 0 auto;
  font-family: 'Outfit', sans-serif;
  background-color: rgb(209, 207, 207);
}

.container-login {
  width: 100%;
  min-height: 50vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
}


.quebra-login {
  width: 680px;
  border-radius: 10px;
  position: relative;
}

.login-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-form-form {
  margin-top: 1.5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-form-titulo {
  width: 100%;
  display: block;
  font-family: 'Outfit', sans-serif;
  font-size: 3.5rem;
  font-weight: 700;
  color: #000000;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 1rem;
}

.login-form-social {
  display: flex;
  gap: 10px;
}

.btn-face, .btn-google {
  text-decoration: none;
}

.btn-face, .btn-google {
  font-family: 'Outfit', sans-serif;
  font-size: 18px;
  line-height: 1.2;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  width: 17rem;
  height: 70px;
  border-radius: 10px;
  box-shadow: 0 1px 5px 0px rgba(0, 0, 0, 0.2);
  transition: all 0.4s;
  position: relative;
  z-index: 1;
}

.btn-google::before,
.btn-face::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  top: 0;
  left: 0;
  background: #a73b1a;
  background: linear-gradient(45deg, #00dbde, #b0e5e6);
  opacity: 0;
  transition: all 0.4s;
}

.btn-face {
  color: #fff;
  background-color: #3b5998;
}

.btn-google {
  color: #000;
  background-color: #fff;
}

.btn-google img , .btn-face img {
  width: 30px;
  margin-right: 15px;
  padding-bottom: 3px;
}

.btn-face:hover:before,
.btn-google:hover:before {
  opacity: 1;
}

.btn-face:hover,
.btn-google:hover {
  color: #fff;
}

.txt1 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  color: #a73b1a;
  font-weight: 600;
}

.txt2 {
  font-size: 1rem;
  color: #616161;
  text-decoration: none;
  margin-bottom: 0.3rem;
}

input {
  width: 25rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid #000000;
  font-size: 1rem;
}

.login-form-btn button{
  width: 25rem;
  margin: 0.5rem 0;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: none;
  background-color: #a73b1a;
  color: #ffffff;
  font-size: 1.2rem;
  font-family: 'Outfit', sans-serif;
  font-weight: 500;
  cursor: pointer;
}

.login-form-btn button:hover {
  background-color: #ffffff;
  color: #a73b1a;
}

.mensagem-sucesso {
  background-color: #d4edda; /* Verde claro */
  color: #155724; /* Verde escuro */
  border: 1px solid #c3e6cb; /* Borda verde */
  border-radius: 5px;
  padding: 10px;
  margin-top: 15px;
  font-size: 30px;
  text-align: center;
  font-weight: bold;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  animation: fadeIn 0.5s ease-in-out;
}

/* Animação de fade-in para a mensagem */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

