<section>
  <div class="container">
    <div class="container__checkout">
      <h2>Checkout</h2>
      <p>ORDER #0101</p>
      <ul>
        <li>
          <span>Barraca Patagônia</span>
          <span>R$ 1.514,07</span>
        </li>
        <li>
          <span>Mochila Cargueira</span>
          <span>R$ 571,82</span>
        </li>
        <li>
          <span>Saco de dormir Bugy</span>
          <span>R$ 124,74</span>
        </li>
      </ul>
      <div class="container__checkout__envio">
        <p>Frete</p>
        <p>R$9,50</p>
      </div>
      <div class="container__checkout__total">
        <p>Total</p>
        <p>R$ 2.210,63</p>
      </div>
    </div>

    <div class="pagamento">
      <h2>Payment</h2>
      <div class="pagamento__cartao">
        <p class="fonte__menor">CARD NUMBER</p>
        <p class="fonte__maior">0000 0000 0000 0000</p>
        <p class="fonte__menor">EXPIRATION</p>
        <p class="fonte__maior">00 / 0000</p>
        <p class="fonte__menor">CVC</p>
        <p class="fonte__maior">000</p>
      </div>
      <div class="pagamento__input">
        <input type="text" placeholder="1234 5678 9123 4567" class="cartao" />
        <input type="text" placeholder="MM / YYYY" class="validade" />
        <input type="text" placeholder="CVC" class="cvc" />
        <button class="botao">PURCHASE</button>
      </div>
    </div>
  </div>
</section>
