<main id="sobre">
  <section class="titulo">
    <h1>Sobre nós</h1>
    <h3> Camplex - sua aventura começa aqui!</h3>
  </section>
  <section class="sobre">
    <div>
      <img src="../../../assets/sobre.jpg" alt="">
    </div>
    <div>
      <p>A Camplex é uma loja online especializada em equipamentos para camping, fundada em 1985. Com mais de 39 anos de experiência no mercado, a loja se tornou referência em qualidade e confiabilidade, oferecendo produtos de marcas renomadas e atendimento personalizado.</p>
      <p>Temos uma ampla variedade de produtos, que inclui barracas, mochilas, fogareiros e acessórios para todas as necessidades e preferências dos campistas. A loja também oferece consultoria especializada para ajudar os clientes a escolherem os produtos mais adequados para suas aventuras.</p>
      <p>Além da qualidade dos produtos e do atendimento, a Camplex se preocupa em ajudar seus clientes a se conectarem com a natureza. A loja incentiva a prática do camping como uma forma de lazer saudável e sustentável, promovendo o respeito ao meio ambiente e a conscientização sobre a importância da preservação dos recursos naturais.</p>
      <p>A Camplex é uma empresa comprometida com a satisfação de seus clientes e com a promoção de um estilo de vida mais saudável e conectado com a natureza. Com sua vasta experiência, produtos de qualidade e atendimento personalizado, a loja é a escolha ideal para os amantes do camping.</p>
    </div>
  </section>
</main>
